/node_modules
/public/hot
/public/images/*
/public/invoices/*
/public/frontend/images/*

/storage/*.key
/storage/debugbar/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!/storage/framework/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore
/vendor
*.zip
.env
.env.backup
.phpunit.result.cache
.phpunit.cache/
scratch/
.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/stock_count